:root:has(body.light) {
	/* RED - MAPLE */
	--bgR0: #f8f2f3;
	--bgR1: #efe6e7;
	--bgR2: #e8dede;
	--bgR3: #e2d4d6;
	--bgR4: #dececf;
	--bgR5: #d5c3c7;
	--bgR6: #c9b6bb;
	--visR: #addccc;
	--fgRDim: #9b948f;
	--bgRRed: #ecbfc0;
	--bgROrange: #ecccc0;
	--bgRYellow: #ebd8c2;
	--bgRGreen: #d9e0c5;
	--bgRTeal: #ceded2;
	--bgRBlue: #cdd8e0;
	--bgRLavender: #d1cee2;
	--bgRPurple: #dac3e3;
	--bgRPink: #e9c3e3;
	--bgRMulberry: #ebc1d2;
	--grayR0: #8d8686;
	--grayR1: #7f7676;
	--grayR2: #716565;

	/* YELLOW - ASPEN */
	--bgY0: #f8f4f2;
	--bgY1: #efeae6;
	--bgY2: #e8e3de;
	--bgY3: #e2dcd4;
	--bgY4: #ded6ce;
	--bgY5: #d5cec3;
	--bgY6: #c9c0b6;
	--visY: #a9bce5;
	--fgYDim: #9b968f;
	--bgYRed: #ecc2bf;
	--bgYOrange: #eccfbf;
	--bgYYellow: #ebdbc1;
	--bgYGreen: #d9e3c4;
	--bgYTeal: #cee1d1;
	--bgYBlue: #cddbdf;
	--bgYLavender: #d1d1e1;
	--bgYPurple: #dac6e2;
	--bgYPink: #e9c6e2;
	--bgYMulberry: #ebc4d1;
	--grayY0: #8d8b86;
	--grayY1: #7f7c76;
	--grayY2: #716d65;

	/* TEAL - EUCALYPTUS */
	--bgT0: #f2f6f8;
	--bgT1: #e7ecee;
	--bgT2: #dee4e8;
	--bgT3: #d4dde2;
	--bgT4: #ced7de;
	--bgT5: #c3d1d5;
	--bgT6: #b6c8c3;
	--visT: #ebadda;
	--fgTDim: #979793;
	--bgTRed: #e6c4c5;
	--bgTOrange: #e6d1c5;
	--bgTYellow: #e5ddc7;
	--bgTGreen: #d3e5ca;
	--bgTTeal: #c8e3d7;
	--bgTBlue: #c7dde5;
	--bgTLavender: #cbd3e7;
	--bgTPurple: #d4c8e8;
	--bgTPink: #e3c8e8;
	--bgTMulberry: #e5c6d7;
	--grayT0: #878c8a;
	--grayT1: #777e7b;
	--grayT2: #66706a;

	/* PURPLE - JACARANDA */
	--bgP0: #f2f3f8;
	--bgP1: #e6e6ef;
	--bgP2: #dedee8;
	--bgP3: #d4d4e2;
	--bgP4: #cecede;
	--bgP5: #c6c3d5;
	--bgP6: #beb6c8;
	--visP: #efd3a2;
	--fgPDim: #979493;
	--bgPRed: #e5bfc6;
	--bgPOrange: #e5ccc6;
	--bgPYellow: #e4d8c8;
	--bgPGreen: #d2e0cb;
	--bgPTeal: #c7ded8;
	--bgPBlue: #c6d8e6;
	--bgPLavender: #cacee8;
	--bgPPurple: #d3c3e9;
	--bgPPink: #e2c3e9;
	--bgPMulberry: #e4c1d8;
	--grayP0: #8a878c;
	--grayP1: #7b777e;
	--grayP2: #6b6670;

	--white: #f0f0ef;
	--ash: #c3c1c1;
	--coal: #505053;
	--black: #242324;
	--fg: #474238;
	--red: #d12f2e;
	--orange: #d35b18;
	--yellow: #c2850a;
	--green: #5b9b27;
	--teal: #1f8e5f;
	--blue: #177ea1;
	--lavender: #3b4eb0;
	--purple: #7d2fbb;
	--pink: #ba3bba;
	--mulberry: #b82e6e;

	--fgHi: #2e2a24;
	--redHi: #913131;
	--orangeHi: #91461c;
	--yellowHi: #7f5a10;
	--greenHi: #3f6222;
	--tealHi: #1b553d;
	--blueHi: #165064;
	--lavenderHi: #364078;
	--purpleHi: #5b2d80;
	--pinkHi: #813781;
	--mulberryHi: #792b4f;
}

body.light {
	& #logoWrapper {
		& > #logo { visibility: collapse; }
		& > #logoLight { visibility: visible; }
	}

	& #variantBar .diamond {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;

		& > svg#moon { visibility: collapse; }
		& > svg#sun { visibility: visible; }
	}

	& .selected { color: var(--black); }
}