:root:has(body.light) {
	/* RED - MAPLE */
	--bgR0: #f9f1f2;
	--bgR1: #f1e4e6;
	--bgR2: #eadcdc;
	--bgR3: #e2d4d6;
	--bgR4: #dececf;
	--bgR5: #d5c3c7;
	--bgR6: #c9b6bb;
	--visR: #b9e1d2;
	--fgRDim: #9c938f;
	--bgRRed: #eebebf;
	--bgROrange: #eecbbf;
	--bgRYellow: #edd7c1;
	--bgRGreen: #dbdfc4;
	--bgRTeal: #d0ddd1;
	--bgRBlue: #cfd7df;
	--bgRLavender: #d3cde1;
	--bgRPurple: #dcc2e2;
	--bgRPink: #ebc2e2;
	--bgRMulberry: #edc0d1;
	--grayR0: #8d8686;
	--grayR1: #7f7676;
	--grayR2: #716565;

	/* YELLOW - ASPEN */
	--bgY0: #f9f4f1;
	--bgY1: #f1eae4;
	--bgY2: #eae3dc;
	--bgY3: #e2dcd4;
	--bgY4: #ded6ce;
	--bgY5: #d5cec3;
	--bgY6: #c9c0b6;
	--visY: #bac5e0;
	--fgYDim: #9c968e;
	--bgYRed: #eec2be;
	--bgYOrange: #eecfbe;
	--bgYYellow: #eddbc0;
	--bgYGreen: #dbe3c3;
	--bgYTeal: #d0e1d0;
	--bgYBlue: #cfdbde;
	--bgYLavender: #d3d1e0;
	--bgYPurple: #dcc6e1;
	--bgYPink: #ebc6e1;
	--bgYMulberry: #edc4d0;
	--grayY0: #8d8b86;
	--grayY1: #7f7c76;
	--grayY2: #716d65;

	/* TEAL - EUCALYPTUS */
	--bgT0: #f1f6f9;
	--bgT1: #e4edf1;
	--bgT2: #dce4ea;
	--bgT3: #d4dde2;
	--bgT4: #ced7de;
	--bgT5: #c3d1d5;
	--bgT6: #b6c8c3;
	--visT: #e2b5d0;
	--fgTDim: #969794;
	--bgTRed: #e4c5c8;
	--bgTOrange: #e4d2c8;
	--bgTYellow: #e3deca;
	--bgTGreen: #d1e6cd;
	--bgTTeal: #c6e4da;
	--bgTBlue: #c5dee8;
	--bgTLavender: #c9d4ea;
	--bgTPurple: #d2c9eb;
	--bgTPink: #e1c9eb;
	--bgTMulberry: #e3c7da;
	--grayT0: #878c8a;
	--grayT1: #777e7b;
	--grayT2: #66706a;

	/* PURPLE - JACARANDA */
	--bgP0: #f1f2f9;
	--bgP1: #e4e4f1;
	--bgP2: #dcdcea;
	--bgP3: #d4d4e2;
	--bgP4: #cecede;
	--bgP5: #c6c3d5;
	--bgP6: #beb6c8;
	--visP: #e7d2b3;
	--fgPDim: #969394;
	--bgPRed: #e4bec8;
	--bgPOrange: #e4cbc8;
	--bgPYellow: #e3d7ca;
	--bgPGreen: #d1dfcd;
	--bgPTeal: #c6ddda;
	--bgPBlue: #c5d7e8;
	--bgPLavender: #c9cdea;
	--bgPPurple: #d2c2eb;
	--bgPPink: #e1c2eb;
	--bgPMulberry: #e3c0da;
	--grayP0: #8a878c;
	--grayP1: #7b777e;
	--grayP2: #6b6670;

	--white: #f5f5f4;
	--ash: #c3c1c1;
	--coal: #505053;
	--black: #242324;
	--fg: #474238;
	--red: #be2e2d;
	--orange: #c7561e;
	--yellow: #c88604;
	--green: #5f9933;
	--teal: #178c5a;
	--blue: #0d7697;
	--lavender: #364bb5;
	--purple: #7b38b2;
	--pink: #aa45aa;
	--mulberry: #ad2967;

	--fgHi: #32302a;
	--redHi: #8c3131;
	--orangeHi: #924a25;
	--yellowHi: #8b630e;
	--greenHi: #4b6f34;
	--tealHi: #1a6045;
	--blueHi: #1a5566;
	--lavenderHi: #343d7a;
	--purpleHi: #5a3479;
	--pinkHi: #7b3d7b;
	--mulberryHi: #792b4e;

	--selectedTxt: var(--black);
}

body.light {
	main {
		& > #goals { & .code { background-color: var(--bg0); } }
	}

	& #logoWrapper {
		& > #logo { display: none; }
		& > #logoLight { display: block; }
	}

	& #variantBar .diamond {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;

		& > svg#moon { visibility: collapse; }
		& > svg#sun { visibility: visible; transform: rotate(-45deg); }
	}

	& .selected { color: var(--black); }
}